@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

#home {
	font-family: 'IBM Plex Mono', monospace;
}

#typing-demo-container {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#typing-demo {
  width: 13ch;
  animation: typing 2s steps(13), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
